<section fxLayout="column" class="p-5 overflow-visible">
  <!-- Header -->
  <div class="mb-5">
    <div class="mat-h1 m-0">Chat sentiment analysis</div>
    <div class="mat-body-2 text-grey fw-normal text-uppercase">Project template</div>
  </div>

  <!-- Realtime messages feed -->
  <div fxLayout="column" fxLayoutAlign="start start" class="mb-5">
    <app-message-source-dropdown class="w-100"></app-message-source-dropdown>
  </div>

    <!-- Sentiment analysis -->
    <div fxLayout="column" class="mb-5">
      <app-sentiment-chart [style.height.px]="200"></app-sentiment-chart>
    </div>
</section>